*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100%;

}

/*header*/
.menu-but{
    color: black;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
 .navbar{
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    
    z-index: 999;
    background-color: #f294b3;
    box-shadow: 0 0 14px rgba(78, 21, 48, 0); 

}
.navbar .logo h1{
    color: rgb(119, 19, 94);
    border-bottom: 4px solid #160019;

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
   
    

}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: rgb(119, 19, 94);
    border-bottom: 4px solid black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

} 
.navbar .menu li .active{
    border-bottom: 4px solid #160019;
}
.navbar .menu li a i{
    color: black;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #160019;
}


/* section content*/
.content{
    background-image:url(shopbg.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(82 5 62);
}
.content h1{
    font-size: 35px;
   
}
.content p{
    font-size: 20px;
    margin-top: 10px;
}
.content button{
    margin-top: 20px;
    padding: 8px 20px;
    border: 2px solid rgb(135, 48, 135);
    border-radius: 20px;
    background-color: rgba(242, 148, 179,1);
    font-size: 20px;
    cursor: pointer;

}
.Pro-heading
{
    text-align: center;
    margin: 50px 0;

}
.sect
{
    padding: 10px 5%;
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.products .items{
    width: 300px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .items img{
    height: 250px;
    width: 100%;
}
.products .items .descript{
    padding: 5px 20px;
    opacity: 0.8;
}
.products .items .title{
    font-weight: 900;
    font-size: 20px;
    color: #f294b3;
    padding: 0 20px;

}
.products .items .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.products .items .box .amount{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.products .items .box .btn{
    font-size: 12px;
    color: red;
    padding: 10px 10px;
    border: 2px solid blue;
    border-radius: 3px;

}
.products .items .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;

}

/*
footer*/
footer{
background-color: #f3f4f6;
height: 10vh;

}
footer p{
    text-align: center;
    line-height: 10vh;
}
footer p a{
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;

}

/* sign up page*/


  