*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    height: 100%;

}

.menu-but{
    color: black;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
 .navbar{
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    
    z-index: 999;
    background-color: #f294b3;
    box-shadow: 0 0 14px rgba(78, 21, 48, 0); 

}
.navbar .logo h1{
    color: rgb(119, 19, 94);
    border-bottom: 4px solid #160019;
    font-weight: bolder;
    font-size: 30px;
    

}
.navbar .menu li{
    list-style: none;
    display: inline-block;
   
    

}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: rgb(119, 19, 94);
    border-bottom: 4px solid black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

} 
.navbar .menu li .active{
    border-bottom: 4px solid #160019;
}
.navbar .menu li a i{
    color: black;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid #160019;
}

.size{
    height: 600px;
    opacity: 0.8;
   
}
.light h5,p{
    opacity: 1.5;
    color: black;
    font-weight: bolder;

}
.light h5{
    font-size: 30px;
}
.light p{
    font-weight: bolder;
    font-size: 25px;
}

